@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
	--color-primary: #556B2F;
	--color-secondary: #D1AA24;
	--color-tertiary: #251E24;
	--color-dark: #352C27;
	--color-light: #fff;
	--font-primary: "PT Sans";
	--font-secondary: "Lato";
}

body {
    height: 98vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-secondary);
}

form {
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
    border-radius: 15px;
    color: var(--color-light);
    padding: 20px;
    width: 50%;
    align-items: center;
}
select, textarea, label, div {
    display: flex;
    flex-direction: column;
    width: 250px;
}

#btn_submit {
    padding: 10px 16px;
    border-radius: 5px;
    background: var(--color-light);
    border: none;
}

#btn_submit:hover {
    background: var(--color-secondary);
    color: var(--color-light);
}