/*
 * index.scss
 * any styles you want here!
 */
 @import url('https://fonts.googleapis.com/css?family=PT+Sans');
 @import url('https://fonts.googleapis.com/css?family=Lato');
 @import url("https://fonts.googleapis.com/css?family=VT323");
:root {
	--color-primary: #556B2F;
	--color-secondary: #D1AA24;
 	--color-tertiary: #251E24;
	--color-dark: #352C27;
	--color-light: #fff;
	--font-primary: "PT Sans";
	--font-secondary: "Lato";
	--font-pokemon: "VT323";
}

/*        M A I N           */

body {
	background: linear-gradient(165deg, var(--color-secondary), #794810);
	height: 100vh;
	overflow: hidden;

	display: flex;
}

main {
	border: 10px solid black;
	border-radius: 1em;
	background: lightgrey;
	height: 22em;
	width: 40em;
	margin: auto;

	position: relative;
}



/*     Name Area      */
.title {
	/* Styling */
	background: linear-gradient(
		grey 0%,
		grey 50%,
		lightgrey 52%,
		lightgrey 100%
	);
	font-family: VT323;
	font-size: 1.5em;
	border: 5px solid black;
	border-left: none;
	border-radius: 0 .3em .3em 0;
	box-shadow: .05em .1em .15em #555;

	/* Mechanics */
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

#upper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	height: 25px;
	
	color: white;
	text-shadow: .05em .05em .05em #333333;
}

#upper p {
	padding-right: 50px;
}

#lower {
	display: inline-block;
	height: 25px;
	padding-left: 20px;
	text-shadow: .05em .05em .05em #bfbfbf;
}



/*     Nav Bar       */
.nav {
	/* Styling */
	color: white;
	background: var(--color-tertiary);
	border: 4px solid grey;
	border-left: none;
	border-right: none;
	font-family: VT323;
	font-size: 1.2em;
	width: 25em;

	/* Mechanics */
	display: flex;
	position: absolute;
	right: 0;
	margin-top: 1em;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	padding: 0 .5em;
}

.nav div {
	padding: .2em;
	background: grey;
	margin: .2em .1em;
	width: 3.5em;
	text-align: center;
	transition: background-color 0.5s ease;
}

.nav div:hover {
	background: darkgrey;
	transition: background-color 0.5s ease;
}



/*     My Sprite      */

#me {
	position: absolute;
	left: 0;
	bottom: 0;
}



/*     Info Area      */

#char_table {
	/* Styling */
	font-family: VT323;
	font-size: 1.5em;
	grid: .1em white;
	background: none;
	border: 18px solid black;
	border-image:
		url("https://i.ibb.co/yRyTHkx/borderimg.png") 27 stretch;
	border-radius: .3em;
	width: 350px;
	background: lightgrey;

	/* Mechanics */
	display: grid;
	position: absolute;
	right: 0;
	bottom: 0;
	grid-template-columns: 150px 200px;
	grid-template-rows: auto; 
}

#char_table div {
	padding: .2em;
}

/* left side */
#char_table > div:nth-child(2n+1){
	background: grey;
	color: white;
	text-shadow: .05em .05em .05em #333333;
}

/* right side */
#char_table > div:nth-child(2n){
	background: lightgrey;
	color: black;
	text-shadow: .05em .05em .05em #bfbfbf;
	text-align: center;
	
}

/* evens on left */
#char_table > div:nth-child(4n+1){
	background: darkgrey;
}

/* evens on right */
#char_table > div:nth-child(4n){
	background: darkgrey;
}





/*      TYPING        */
#char_table .type {
	font-family: VT323;
	font-size: .8em;
	margin: .2em;
	padding: .1em .4em;
	width: 4em;
	text-align: center;
	margin: auto;
	border-radius: 20px;
	border: .1em solid white;
	box-shadow: 0 .1em .05em #5a5b60;
}

#char_table #designer {
	color: white;
	text-shadow: none;
	background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(82,15,15,1) 50%, rgba(195,34,34,1) 100%);
}

#char_table #programmer {
	color: white;
	text-shadow: none;
	background: linear-gradient(0deg, rgba(143,162,246,1) 0%, rgba(77,98,194,1) 50%, rgba(143,162,246,1) 100%);
}