/*
 * index.css
 * any styles you want here!
 */
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
	--color-primary: #556B2F;
	--color-secondary: #D1AA24;
	--color-tertiary: #251E24;
	--color-dark: #352C27;
	--color-light: #fff;
	--font-primary: "PT Sans";
	--font-secondary: "Lato";
}

body {
	background: var(--color-light);
	font-family: var(--font-secondary);
	text-align: center;
	width: 95%;
	color: var(--color-dark);
	margin: 0;
	overflow-x: hidden;
	max-width: 70em;
}

nav {
	/* Styling */

	/* Mechanics */
	display: flex;
	flex-direction: row;
	justify-items: flex-end;
	
	align-items: center;
	margin-left: auto;
}

nav a {
	/* Styling */
	color: var(--color-primary);
	font-weight: bold;
	text-decoration: none;
	padding: .3em 1em;
	border-radius: .25em;

	/* Mechanics */
	transition: flex-grow 0.5s ease;
	flex-grow: 1;
}

nav a:not(:first-child):hover {
	/* Styling */
	background: var(--color-tertiary);
	color: var(--color-light);
	text-decoration: none;
	font-weight: bold;

	/* Mechanics */
	transition: flex-grow 0.5s ease;
	flex-grow: 3;
}

main {
	display: block;
}

#heroBanner {
	background-color: var(--color-primary);
	border-radius: 1em;
	margin: 5em auto;
}

#heroBanner h1 {
	color: var(--color-light);
	font-family: var(--font-primary);
	font-size: 3em;
	padding: 1em;
	text-align: left;
	font-weight: lighter;
}

#picAndName {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin: 1em;
	padding: 1em;
	padding-bottom: 2em;
}

#words {
	margin-left: 1em;
	display: flex;
	flex-direction: column;
	justify-items: flex-start;
	color: var(--color-light);
	font-family: var(--font-primary);
}

#words h3 {
	font-size: 1.8em;
	margin-bottom: .25em;
}

#words h5 {
	font-weight: normal;
	font-size: 1em;
	margin-top: .25em;
	color: rgb(218, 214, 214);
}

#projects {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 5em auto;
}

#projects section {
	/* testing css */
	background: var(--color-tertiary);
	color: var(--color-light);
	margin: .5em;
	padding: 1em;
}

#experience {
	background: var(--color-primary);
	color: var(--color-light);
	border-radius: 1em;
	margin: 5em auto;
	padding: 1em;
}

#work {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

#work section {
	width: 30%;
	margin: .1em;
	background: var(--color-tertiary);
}

.large {
	flex-grow: 2;
}


li {
	list-style: none;
	text-align: center;
}

#selfie {
	height: 14em;
	border-radius: 50%;
}

#logo {
	height: 5em;
}

footer {
	display: block;
	background: var(--color-tertiary);
	color: var(--color-light);
	padding: 2em;
	width: 100%;
}

footer a {
	color: var(--color-light);
	text-decoration: none;
	margin: 1.5em 1em;
	padding: .5em 1em;
	border-radius: .25em;
}

footer a:hover {
	color: var(--color-secondary);
	font-weight: bold;
	background: var(--color-light);
}