/**
 * index.scss
 * any styles you want here!
 */

body {
	background: #f8f8f8;
	font-family: "arial";
	text-align: center;
}

header {
	display: flex;
	flex-direction: row;
}

nav {
	align-self: center;
}

nav a {
	color: purple;
	text-decoration: none;
	padding: 0 1em;
}

#selfie {
	height: 25em;
	border-radius: 1em;
}